body {
    background-color: pink;
            font-family: "Noto Serif", serif;
        }

        header {
            border-bottom: 1px solid #fff;
            padding: 0 0 30px 0;
        }

        a {
            color: pink;
        }

 .search-form-input {
    background-color: pink;
    border: none;
    border-radius: 6px;
    width: 80%;
    padding: 20px;
 }

.box {
    background-color: rgb(173, 70, 101);
    max-width: 600px;
    margin: 30px auto;
    padding: 50px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 16px;
}

.submit-button {
background-color: pink;
padding: 20px;
border: none;
border-radius: 6px;
width: 18%;
color: black;

}

main {
    padding: 30px 0;
}

.city {
    margin: 0;
    color: palevioletred;
    font-size: 38px;
    line-height: 48px;
}

.info {
    font-size: 16px;
    line-height: 20px;
    color: #fff;

}

.info strong {
    color: palevioletred;
}

.celsius {
    display: block;
    color: pink;
    margin-left: 0px;
    font-size: 88px;
    
  

}

p {
    display: block;
    margin: 0 auto;
}

.temp {
    font-size: 77px;
}

.icon {
    font-size: 55px;
    margin-left: 10px;
}

.cel {
    font-size: 33px;
    position: absolute;
    margin-top: 15px;
}

.weather-info {
    display: block;
    justify-content: space-between;
}

footer {
    text-align: center;
    border-top: #fff;
    padding: 30px 0 0 0;
    color: #fff;
}

.weather-forecast {

    display: flex;
    justify-content: space-around;
    text-align: center;
}

.weather-forecast-date {
    font-size: 16px;
    color: #fff;
    opacity: 0.5;
}

.min-temperature {
    opacity: 0.5;
}
